<!DOCTYPE html>
<html>
  <head>
    <title>L'Argenterie</title>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body>
  	<!-- navbar starts here -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"> 
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="projectName navbar-brand">
              <a href="/static_pages/landing_page">L'Argenterie</a>
          </div>  <!-- end projectName -->
        </div> <!--end navbar-header -->

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/static_pages/landing_page">Home</a></li>
            <li><a href="/products">Bijoux</a></li>
            <li><a href="/static_pages/laboutique">La boutique</a></li>
            <li><a href="/static_pages/contact">Contact</a></li>
          </ul>
        </div>
      </div> <!-- end nav container --> 
    </nav> <!-- end navbar --> 

    <!-- Notice is for displaying the successful messages when clicking on edit and update a product -->
    <p id="notice"><%= notice %></p>

    <%= yield %>

    <footer class="navbar-fixed-bottom">
        <div class="col-md-12 down">
          <p>&copy L'Argenterie, 2016 &#124
            <a target="_blank" title="follow me on Twitter" href="http://www.twitter.com/PLACEHOLDER"><img alt="follow me on Twitter" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0 class="icone-size"></a> &#124
            <a target="_blank" title="follow me on facebook" href="http://www.facebook.com/PLACEHOLDER"><img alt="follow me on facebook" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0 class="icone-size"></a> &#124
            <a target="_blank" title="follow me on instagram" href="http://www.instagram.com/PLACEHOLDER"><img alt="follow me on instagram" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0 class="icone-size">
            </a>
          </p>
        </div><!-- END down -->

    </footer>

  </body>
</html>
